{% load staticfiles %}

<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->

    <title>{% block title %}base{% endblock %}</title>

    <!-- Bootstrap -->
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% block css %}{% endblock %}

</head>
<body>
<div class="x-goto-top">
    <div class="x-arrow"></div>
    <div class="x-stick"></div>
</div>

<!--标题栏-->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#my-nav"
                    aria-expanded="false">
                <span class="sr-only">切换导航条</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">JAVASCRIPT</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="my-nav">
            <ul class="nav navbar-nav">
                <li><a href="/?p=1022910821149312">在线学习</a></li>
                <li><a href="{% url 'index:test' %}">在线js调试</a></li>
                <li><a href="/exam/?p=0">在线考试</a></li>
                <li><a href="http://127.0.0.1:8000/static/media/JavaScriptBook.pdf">下载手册</a></li>
            </ul>

            <!-- 判断有没有登录 -->
            {% if user.is_authenticated %}
                <ul class="nav navbar-nav navbar-right">
                    {#                    <p class="navbar-text">{{ user.username }}</p>#}
                    <!-- 判断有没有管理员权限 -->
                    {% if user.is_staff %}
                        <li><a href="/admin/">后台管理</a></li>
                    {% endif %}
                    <li><a href="/change/"> 修改资料</a></li>
                    <li><a href="/logout/"><span class="glyphicon glyphicon-log-in"></span> 退出登录</a></li>
                </ul>
            {% else %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/login/"><span class="glyphicon glyphicon-log-in"></span> 登录</a></li>
                    <li><a href="/register/"><span class="glyphicon glyphicon-user"></span> 注册</a></li>
                </ul>
            {% endif %}
        </div><!-- /.navbar-collapse -->

    </div><!-- /.container-fluid -->
</nav>
<!--身体-->
<div class="container">
    {% block main %}{% endblock %}
</div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
{#<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>#}
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
<script src="/static/bootstrap/js/bootstrap.js"></script>
{% block js %}
{% endblock %}
</body>
</html>